{% extends 'common/_layout.html' %}
{% set site_title = 'О компании' %}
{% set home = true %}

{% block content %}

<section class="head">
  <div class="container">
    {% include 'common/breadcrumbs.html' %}
    <img src="img/about-lamp.jpg" alt="" class="catalog-head__img">
    <h2 class="title-lg">Мы отвечаем за световые решения в проектах дизайнеров и архитекторов</h2>
    <h3 class="title-sm">«The Light» с 2015 года подбирает и поставляет осветительное оборудование и комплектующие. Мы предлагаем функциональные решения с учетом всех особенностей проекта. При подборе мы учитываем: технические требования, чертежи, тип помещения и его функциональные особенности, уровень освещенности и стилистическое решение.</h3>
  </div>
</section>

<section class="about">
  <div class="container">
    <ul class="about-info">
      <li>
        <h2>6</h2>
        <h3 class="title-md">лет</h3>
        <p>подбираем освещение для наших клиентов </p>
      </li>
      <li>
        <h2>1000</h2>
        <h3 class="title-md">тысяч светильников</h3>
        <p>выбраны и доставлены клиентам</p>
      </li>
      <li>
        <h2>200</h2>
        <h3 class="title-md">постоянных клиентов</h3>
        <p>выбирают нас и наш сервис</p>
      </li>
      <li>
        <h2>354</h2>
        <h3 class="title-md">производителей</h3>
        <p>с которыми мы сотрудничаем</p>
      </li>
    </ul>
    <div class="about-text">
      <p>«The Light» с 2015 года подбирает и поставляет осветительное оборудование и комплектующие. Мы предлагаем функциональные решения с учетом всех особенностей проекта. При подборе мы учитываем: технические требования, чертежи, тип помещения и его функциональные особенности, уровень освещенности и стилистическое решение.</p>
    </div>
    <a href="img/blog-item.jpg" data-fancybox class="about-img"><img src="img/blog-item.jpg" alt=""></a>
  </div>
</section>

{% endblock %}