{% extends 'common/_layout.html' %}
{% set site_title = 'Раздел каталога' %}
{% set home = true %}

{% block content %}

<section class="head">
  <div class="container">
    {% include 'common/breadcrumbs.html' %}
    <img src="img/promo-img-1.jpg" alt="" class="catalog-head__img">
    <h2 class="title-lg">Интерьерный свет</h2>
    <h3 class="title-sm">Поможем выбрать подходящее решение для квартиры, офиса, магазина или ресторана</h3>
    <div class="btn-wrap"><a href="#" class="btn btn-yellow">Помочь с выбором</a></div>
    {% include 'common/promo-section.html' %}
  </div>
</section>

<section class="catalog">
  <div class="container">
    {% include 'common/catalog-filter.html' %}
    <div class="catalog-section">
      <div class="grid">
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
        {% include 'common/item-card.html' %}
      </div>
      <div class="item-more">
        <i class="icon-more"></i>
        <p class="title-xs">Показать еще</p>
      </div>
    </div>
  </div>
</section>

{% include 'common/lamp-gray.html' %}

<section class="seo">
  <div class="container">
    <div class="seo-text">
      <p>Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... </p>
    </div>
  </div>
</section>

{% endblock %}