{% extends 'common/_layout.html' %}
{% set site_title = 'Доставка и оплата' %}
{% set home = true %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2 class="title-lg">Доставка и оплата</h2>
  </div>
</section>

<section class="delivery">
  <div class="container">
    <div class="delivery-section">
      <h3 class="title-md">Доставка</h3>
      <div class="delivery-row">
        <div class="delivery-text">
          <h4>Стоимость</h4>
          <p>При заказе от 30 000 рублей доставка до дверей в пределах КАД, за исключением Стрельны, Петергофа и Ломоносова осуществляется бесплатно, в случае наличия подъезда к дому и наличия лифта.<br> При заказах на сумму менее 30 000 рублей стоимость доставки до дверей, в случае наличия подъезда к дому и наличия лифта составляет 600 рублей.<br> Стоимость доставки за пределами КАД: 30 руб/км.<br> Подъем при отсутствии лифта: 50 руб/этаж</p>
          <h4>В другие регионы</h4>
          <p>Доставка в другие регионы осуществляется через транспортные компании. Доставка до терминала ТК в Санкт-Петербурге производится силами продавца, бесплатно при заказе от 30 000 рублей. Оплату стоимости логистических услуг ТК производит получатель при получении товара. Для транспортировки товара обязательно используется жесткая упаковка и страховка.</p>
        </div>
        <div class="delivery-text">
          <h4>Сроки</h4>
          <p>При наличии товара на складе в Санкт-Петербурге: 1-3 рабочих дня.<br> При наличии товара на складе в Москве: 4-10 рабочих дней.<br> При заказе товара с фабрики (в случае отсутствия на складах в России): до 8 недель.</p>
          <h4>Самовывоз</h4>
          <p>Самостоятельно забрать заказ можно в будние дни с нашего склада, расположенного по адресу: Железноводская улица дом 32.</p>
        </div>
        <div class="delivery-text">
          <h4>Курьером в СПБ и ЛО</h4>
          <p>Доставка осуществляется грузовым транспортом и опытными экспедиторами, что гарантирует максимальную сохранность и комплектность груза.<br>Время в которое осуществляется доставка - будние дни с 10 до 18 часов. По согласованию возможна организация доставки в другое время и в выходные дни.</p>
        </div>
      </div>
    </div>
    <div class="delivery-section">
      <h3 class="title-md">Оплата</h3>
      <div class="delivery-row">
        <div class="delivery-text">
          <h4>Наличными</h4>
          <p>После согласования заказа Вам высылается счет для подтверждения. Заказ оплачивается при получении товара. Необходимо заранее подготовить сумму, необходимую для оплаты или предупредить с какой суммы будет необходима сдача.</p>
          <h4>Наличными в офисе.</h4>
          <p>Заказ оплачивается в офисе.<br> Выдается счет и кассовый чек.<br> При получении товара необходимо иметь выданные документы.</p>
        </div>
        <div class="delivery-text">
          <h4>По счету через банк</h4>
          <p>Согласование заказа производится по почте.<br> Вам выставляется счет который вы можете оплатить через интернет-банк или в отделении вашего банка.<br> Для получения товара на адресе необходимо будет согласовать ФИО получающего, получающему иметь удостоверение личности.<br> При получении будет выдан товарный чек (в случае оплаты от юр. лица - УПД или ТОРГ-12).<br> Если оплата была произведена от юр. лица на адресе необходимо иметь доверенность или печать.</p>
        </div>
        <div class="delivery-text">
          <h4>Банковской картой в офисе</h4>
          <p>Заказ оплачивается в офисе.<br> Выдается счет, кассовый и терминальный чек.<br> При получении товара необходимо иметь выданные документы.</p>
          <h4>Минимальный заказ</h4>
          <p>Минимальная сумма первоначального заказа составляет 10000 руб. Докупить необходимое оборудование возможно на любую сумму.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}