{% extends 'common/_layout.html' %}
{% set site_title = 'Расчет освещенности' %}
{% set home = true %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2 class="title-lg">Расчет освещенности</h2>
  </div>
</section>

<section class="illumin">
  <div class="container">
    <div class="illumin-text">
      <h3 class="title-md">О услуге</h3>
      <p>Светотехнический расчет помещения позволяет определить тип, число и мощность светильников. Вычисления производят заранее, поскольку от них зависит дальнейшее выполнение электротехнических работ. Кроме того, расчет позволяет оптимизировать число светильников, оценить их возможности при разных схемах расположения. В некоторых случаях он также помогает обеспечить экономию на предприятии или другом объекте, для которого ведется расчет.</p>
    </div>
    <div class="illumin-text">
      <h3 class="title-md">Условия</h3>
      <p>Светотехнический расчет помещения позволяет определить тип, число и мощность светильников. Вычисления производят заранее, поскольку от них зависит дальнейшее выполнение электротехнических работ. Кроме того, расчет позволяет оптимизировать число светильников, оценить их возможности при разных схемах расположения. В некоторых случаях он также помогает обеспечить экономию на предприятии или другом объекте, для которого ведется расчет.</p>
    </div>
    <div class="illumin-text">
      <h3 class="title-md">Результат</h3>
      <p>Светотехнический расчет помещения позволяет определить тип, число и мощность светильников. Вычисления производят заранее, поскольку от них зависит дальнейшее выполнение электротехнических работ. Кроме того, расчет позволяет оптимизировать число светильников, оценить их возможности при разных схемах расположения. В некоторых случаях он также помогает обеспечить экономию на предприятии или другом объекте, для которого ведется расчет.</p>
    </div>
  </div>
</section>

<section class="illumin-example">
  <div class="container">
    <h2 class="title-lg">Примеры расчета</h2>
    <div class="illumin-doc">
      <a href="img/illumin-item.jpg" data-fancybox><img src="img/illumin-item.jpg" alt=""></a>
      <a href="img/illumin-item.jpg" data-fancybox><img src="img/illumin-item.jpg" alt=""></a>
      <a href="img/illumin-item.jpg" data-fancybox><img src="img/illumin-item.jpg" alt=""></a>
      <a href="img/illumin-item.jpg" data-fancybox><img src="img/illumin-item.jpg" alt=""></a>
    </div>
  </div>
</section>

{% endblock %}