{% extends 'common/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<section class="promo">
  <div class="container">
    <div class="promo-section">
      <h4 class="title-sm">Разделы</h4>
      <ul class="tags">
        <li><a href="#">Встроенные</a></li>
        <li><a href="#">Накладные</a></li>
        <li><a href="#">Настенные</a></li>
        <li><a href="#">Декоративные</a></li>
        <li><a href="#">Треки и компоненты трековой системы</a></li>
        <li><a href="#">Светильники для трековых систем</a></li>
        <li><a href="#">Светодиодные ленты</a></li>
        <li><a href="#">Профили для светодиодных лент</a></li>
        <li><a href="#">Источники питания светодиодных лент</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="design">
  <div class="container">
    <img src="img/design-lamp.jpg" alt="" class="design-lamp">
    <div class="design-content">
      <h2 class="title-lg">Подберём освещение для дизайн-проекта</h2>
      <div class="design-desc title-sm">Наш эксперт изучит ваш дизайн-проект.<br> Учтёт назначение и расположение осветительного оборудования, особенности монтажа.<br> Подберёт подходящие светильники и комплектующие.</div>
      <form action="#" method="post" class="design-form">
        <div class="design-row">
          <div class="design-col">
            <label class="label">
              <p>Как к вам обращаться?</p>
              <input type="text" class="input" placeholder="Введите имя" />
            </label>
          </div>
        </div>
        <div class="design-row">
          <div class="design-col">
            <label class="label">
              <p>Проект, для которого выбираем освещение</p>
              <input type="text" class="input" placeholder="Добавьте ссылку на проект" />
            </label>
          </div>
          <div class="design-col">
            {# TODO поле для загрузки файла #}
          </div>
        </div>
        <div class="design-row">
          <div class="design-col">
            <label class="label">
              <p>Укажите, куда отправить предложение</p>
              <input type="tel" class="input masked" placeholder="+7 (___) ___-__-__" />
            </label>
          </div>
          <div class="design-col">
            <label class="label">
              <input type="email" class="input" placeholder="example@mail.com" />
            </label>
          </div>
        </div>
        <div class="design-row design-row__checkbox">
          <label class="checkbox">
            <input type="checkbox" name="soc" />
            <p><i class="icon-tg icon-none"></i>telegram</p>
          </label>
          <label class="checkbox">
            <input type="checkbox" name="soc" />
            <p><i class="icon-wa icon-none"></i>whatsapp</p>
          </label>
        </div>
        <label class="label">
          <p>Есть пожелания? Мы их обязательно учтем</p>
          <textarea class="textarea" placeholder="Напишите ваши пожелания"></textarea>
        </label>
        <h4 class="title-md">Свяжемся с вами в течение 1 часа в рабочее время</h4>
        <label class="politic">
          <input type="checkbox" />
          <p>Согласие на обработку персональных данных</p>
        </label>
        <div class="btn-wrap"><button type="submit" class="btn btn-yellow">Подобрать освещение</button></div>
      </form>
    </div>
  </div>
</section>

<section class="trend">
  <div class="container">
    <h2 class="title-lg">Тренды в светодизайне квартир</h2>
    <ul class="item-tabs">
      <li class="active">Трековые системы</li>
      <li>Декоративные</li>
      <li>Встроенные</li>
      <li>Треки и компоненты трековой системы</li>
    </ul>
    <div class="item-carousel trend-carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
      </div>
    </div>
    <div class="item-carousel__control">
      <div class="item-arrow trend-prev"></div>
      <div class="item-arrow trend-next"></div>
    </div>
    <div class="btn-wrap"><a href="#" class="btn btn-gray">Смотреть больше</a></div>
  </div>
</section>

<section class="interior">
  <div class="container">
    <h2 class="title-lg">Новые интерьерные решения</h2>
    <ul class="item-tabs">
      <li class="active">Трековые системы</li>
      <li>Декоративные</li>
      <li>Встроенные</li>
      <li>Треки и компоненты трековой системы</li>
    </ul>
    <div class="item-carousel interior-carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
        <div class="swiper-slide">{% include 'common/item-card.html' %}</div>
      </div>
    </div>
    <div class="item-carousel__control">
      <div class="item-arrow interior-prev"></div>
      <div class="item-arrow interior-next"></div>
    </div>
    <div class="btn-wrap"><a href="#" class="btn btn-gray">Смотреть больше</a></div>
  </div>
</section>

<section class="preliminary">
  <div class="container">
    <div class="preliminary-content">
      <h2 class="title-lg">Произведём предварительный расчет освещённости</h2>
      <p class="title-sm">Расчет освещённости поможет исключить затемненные и избыточно освещённые зоны в помещении</p>
      <div class="btn-wrap"><a href="#" class="btn btn-yellow">Подробнее</a></div>
    </div>
    <img src="img/preliminary-lamp.jpg" alt="" class="preliminary-lamp">
  </div>
</section>

<section class="lamp">
  <div class="container">
    <div class="lamp-content">
      <h2 class="title-lg">Не нашли нужный светильник?</h2>
      <p class="title-sm">Сделаем индивидуальный заказ или создадим эксклюзивный светильник по вашим характеристикам.<br> Оставьте заявку. Мы найдем решение и свяжемся с вами!</p>
      <div class="btn-wrap"><a href="#" class="btn btn-yellow">Светильник под заказ</a></div>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <div class="portfolio-content">
      <h2 class="title-lg">Портфолио</h2>
      <p class="title-sm">Освещение для ЖК Сосновка  2021 год</p>
      <p class="title-xs">Можно мини текст описание. Сделаем индивидуальный заказ или создадим эксклюзивный светильник по вашим характеристикам.</p>
      <div class="portfolio-control">
        <div class="item-arrow portfolio-prev"></div>
        <div class="item-arrow portfolio-next"></div>
      </div>
      <div class="btn-wrap"><a href="#" class="btn btn-gray">Смотреть портфолио</a></div>
    </div>
    <div class="portfolio-gallery">
      <div class="portfolio-gallery__main">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="img/gallery.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/gallery.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/gallery.jpg" alt=""></div>
        </div>
      </div>
      <div class="portfolio-gallery__thumb">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="img/gallery.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/gallery.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/gallery.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}