{% extends 'common/_layout.html' %}
{% set site_title = 'Текстовая страница' %}
{% set home = true %}

{% block content %}

<section class="head">
  <div class="container">
    {% include 'common/breadcrumbs.html' %}
    <h2 class="title-lg">Текстовая страница</h2>
  </div>
</section>

<section class="illumin">
  <div class="container">
    <div class="illumin-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eos eius cumque sequi quo accusamus. Sequi adipisci, dolore ratione dignissimos cum aut assumenda accusamus est exercitationem officiis ut quae recusandae.</p>
      <p>Omnis sapiente corporis nisi dolores aperiam dignissimos nesciunt molestias. Excepturi placeat autem, eaque vel, in odio dolorem officia reprehenderit qui fuga nisi temporibus. Fuga, aperiam pariatur voluptatum at debitis consectetur?</p>
      <p>Quisquam aliquam delectus amet, vitae ullam commodi officiis vero adipisci laborum accusantium cum, quaerat voluptas, unde quos aliquid earum et nam sunt eaque corporis asperiores voluptatum vel molestiae. Autem, debitis?</p>
      <p>Quibusdam magnam praesentium accusamus saepe. Molestiae, soluta. Dolores, illum possimus aliquid atque ipsam rem eum maiores quisquam error. Enim, corrupti ut iusto cupiditate nihil quo dolore ad vel aspernatur nostrum?</p>
      <p>Sunt autem neque voluptatum quas veniam doloremque est, aliquam nam dignissimos praesentium minima id magnam aspernatur magni inventore repellat eligendi! Voluptatem laudantium asperiores quod nisi explicabo delectus soluta aut corporis?</p>
      <p>Expedita a deserunt et voluptatum quos reprehenderit veritatis quo, totam eius maiores quam, rem odit inventore, dicta nobis placeat minima dolor ratione maxime vitae. Dicta praesentium vero quibusdam laboriosam culpa!</p>
      <p>Officiis minus voluptates magnam quibusdam ducimus dolor dolore, animi quod! Asperiores, ipsum nemo quia reiciendis error nesciunt explicabo ab mollitia molestias est culpa fugit nisi. Doloribus, labore. Magni, molestiae temporibus.</p>
      <p>Dignissimos laudantium ratione, rem deleniti voluptatem delectus exercitationem facere modi incidunt assumenda sunt voluptatum. Cumque qui possimus nobis quos, tenetur esse velit corporis accusamus. Nulla aliquam quibusdam illum officia saepe!</p>
      <p>Distinctio quia ipsa reprehenderit omnis qui cumque delectus laudantium nobis molestiae magni recusandae consequuntur pariatur incidunt fugiat eum corrupti, quo veniam at iste minus. In aliquid officiis doloremque quia delectus?</p>
      <p>Natus ex veniam incidunt asperiores earum? Laborum reiciendis, nulla porro dolores corrupti, vitae maiores commodi pariatur corporis, architecto eaque atque? Odit accusantium molestiae quas nam ullam repellat architecto fuga quidem.</p>
    </div>
  </div>
</section>

{% endblock %}