.catalog
  &-section
    padding: 50px 0 100px
    border-bottom: 1px solid #E1E1E1
    &:first-child
      padding-top: 0
    &:last-child
      border: 0
    &__title
      text-transform: uppercase
      @include flexbox
      align-items: center
      margin-bottom: 10px
      .icon-arrow
        margin-left: 10px
    &.hide
      padding-bottom: 40px
  &-filter
    padding: 20px 0
    border-top: 1px solid #D6D6D6
    border-bottom: 1px solid #D6D6D6
    @include flexbox
    align-items: center
    position: relative
    z-index: 10
    & + .catalog-section
      padding-top: 0
    &__price
      @include flexbox
      align-items: center
      width: 240px
      p
        width: 100%
        margin-bottom: 13px
      label
        @include flexbox
        align-items: center
        width: calc((100% - 36px) / 2)
        span
          display: block
          margin-left: auto
        input
          width: calc(100% - 23px)
          height: 25px
          border-radius: 4px
          padding: 0 10px
          background: #eaeff8
          box-shadow: inset 1px 0px 1px rgba(164, 164, 164, 0.25)
          font-size: 14px
          font-weight: 500
          border: 0
      .delimiter
        width: 6px
        height: 1px
        margin: 0 15px
        background: $color-black
    &__row
      @include flexbox
      align-items: flex-start
      width: calc(100% - 240px)
      margin-top: -15px
    &__item
      margin-left: 80px
      margin-top: 15px
      position: relative
    &__title
      @include flexbox
      align-items: center
      cursor: pointer
      .icon-arrow
        margin-left: 10px
      &.active
        color: #207fd7
        .icon-arrow
          filter: invert(39%) sepia(47%) saturate(1703%) hue-rotate(180deg) brightness(97%) contrast(84%)
    &__dropdown
      position: absolute
      z-index: 10
      top: 25px
      left: 0
      width: 250px
      background: #fff
      box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.09)
      border-radius: 4px
      font-size: 14px
      font-weight: 500
      display: none
    &__all
      padding: 20px
      @include flexbox
      align-items: flex-start
      p
        border-bottom: 1px solid $color-black
        cursor: pointer
    &__submit
      padding: 15px 60px
      border-top: 1px solid $color-gray
      button
        width: 100%
        height: 37px
        background: $color-yellow
        border: 0
        border-radius: 0
        cursor: pointer
        font-weight: 500
    &__content
      border-top: 1px solid $color-gray
      padding: 15px 20px
    &__label
      @include flexbox
      align-items: flex-start
      margin-top: 10px
      &:first-child
        margin-top: 0
      input
        @include visually-hidden
        &:checked + p::before
          background: $color-yellow-second
      p
        position: relative
        cursor: pointer
        padding-left: 24px
        font-size: 14px
        &::before
          content: ''
          position: absolute
          top: 1px
          left: 0
          width: 14px
          height: 14px
          border-radius: 2px
          background: #eaeff8
          box-shadow: inset 1px 0px 1px rgba(164, 164, 164, 0.25)
          transition: .2s
    &__section
      border-top: 1px solid $color-gray
      .catalog-filter__content
        border: 0
        padding-top: 0
        display: none
    &__subtitle
      padding: 15px 20px
      @include flexbox
      align-items: center
      justify-content: space-between
      cursor: pointer

    &__result
      @include flexbox
      align-items: flex-start
    &__selected
      margin-top: 20px
      margin-right: 20px
      padding: 6px 15px
      border-radius: 30px
      border: 1px solid $color-black
      font-size: 14px
      cursor: pointer
      opacity: 0.35
      transition: .2s
      @include flexbox
      align-items: center
      &::after
        content: ''
        display: block
        width: 10px
        height: 10px
        margin-left: 10px
        background: url(../img/svg/selected.svg) no-repeat center
      &:hover
        opacity: 1
    &__clear
      opacity: 1
      text-decoration: underline
      &::after
        display: none

  &-head__img
    position: absolute
    top: 0
    right: 90px
    width: 340px
    height: 340px
    object-fit: scale-down
    object-position: center